<input type="text" name="keyword" ng-model="keywords" class="form-control" ng-change="searchInLaravel(keywords)">
<table class="table table-striped table-bordered table-hover table-sm table-responsive table-condensed">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Movie Name</th>
			<th>Director Name</th>
			<th>Duration</th>
			<th>Gross</th>
			<th>Budget</th>
			<th>Genre</th>
			<th>IMDB Link</th>
			<th>Language</th>
			<th>Country</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="movie in moviesData | filter: (keywords.length > 2)?keywords:'' | pagination: (currentPage-1)*pageSize | limitTo: pageSize">
			<td>{{movie.id}}</td>
			<td>{{movie.title}}</td>
			<td>{{movie.director_name}}</td>
			<td>{{movie.duration}}</td>
			<td>{{movie.gross}}</td>
			<td>{{movie.budget}}</td>
			<td>{{movie.genre}}</td>
			<td><a href='{{movie.imdb_link}}' target="_blank">View on IMDB</a></td>
			<td>{{movie.language}}</td>
			<td>{{movie.country}}</td>
			<td>{{movie.year}}</td>
		</tr>
	</tbody>
</table>
<button ng-if="currentPage>1 && currentPage<=lastPage" ng-click="pageChange(currentPage-1,lastPage)">Prev</button>
<button ng-click="loadmore(currentPage+1,lastPage)" ng-if="currentPage<lastPage && currentPage >= 1">Next</button>
<span>Page :: {{currentPage}} / {{lastPage}}</span>